<p>#ng-notify changelog</p>
<p>##v0.5.0</p>
<ul>
<li><strong>new feature</strong>: added a dismiss method to give additional dev control over how notifications display.</li>
</ul>
<p>##v0.4.2</p>
<ul>
<li>update for version bumps</li>
<li>same pathing fix for the package.json file.</li>
</ul>
<p>##v0.4.1</p>
<ul>
<li>pathing fix for bower, bower.json file.</li>
</ul>
<p>##v0.4.0</p>
<ul>
<li><strong>new feature</strong>: sticky notifications, dismissable by the user</li>
<li>standardized comments throughout module</li>
<li>organized module structure</li>
</ul>
<p>##v0.3.0</p>
<ul>
<li><strong>new feature</strong>: configurable options for individual notifications</li>
<li>renamed type option from <em>defaultType</em> to just <em>type</em> for consistency</li>
<li>introduced changelog</li>
</ul>
<p>##v0.2.1</p>
<ul>
<li>better organized for bower distribution</li>
</ul>
<p>##v0.2.0</p>
<ul>
<li>initial bower release</li>
</ul>
