<h1 id="ng-notify"><a href="#ng-notify" class="headerlink" title="ng-notify"></a>ng-notify</h1><p>A simple, lightweight module for displaying notifications in your AngularJS app.</p>
<p>Both JS and CSS files combine for &lt; 4 kBs.</p>
<p>IE8+ and the latest versions of Chrome, FireFox and Safari have been tested and are supported.  If you do run across any issues, please submit a <a href="https://github.com/matowens/ng-notify/issues">new issue</a> and I’ll take a look.</p>
<p>You can check out the demo here: <a href="http://matowens.github.io/ng-notify">http://matowens.github.io/ng-notify</a></p>
<p>New in v0.4.0 are <strong>sticky notifications</strong>.  When enabled, notifications won’t fade out until the user dismisses them.  This, too, can be set as a default option for all notifications or just set for individual notifications on a case by case basis.  For more on how to use this sticky feature, check out the <a href="#sticky-notifications">Sticky Notifications</a> section below.  For more on updates, head on over to the <a href="https://github.com/matowens/ng-notify/blob/master/CHANGELOG.md">changelog</a>.</p>
<h1 id="Implementation"><a href="#Implementation" class="headerlink" title="Implementation"></a>Implementation</h1><p>###Requirements</p>
<p>AngularJS is the only dependency.  Animation is achieved with pure JS, jQuery not necessary.</p>
<p>###Installation</p>
<p>You can install ng-notify with Bower.</p>
<pre><code>bower install ng-notify --save
</code></pre><p>You can also download source files straight from this repo, they’re located in the <code>dist</code> dir.  Just include the minified version of both js and css files.</p>
<p>###Usage</p>
<p>After including <em>ng-notify.min.js</em> and <em>ng-notify.min.css</em>, inject the ng-notify provider into your project.</p>
<pre><code>var app = angular.module(&apos;demo&apos;, [&apos;ngNotify&apos;]);
</code></pre><p>Now you can trigger notifications from anywhere in your app.  To display a notification, just use the <code>set</code> method.</p>
<pre><code>ngNotify.set(&apos;Your notification message goes here!&apos;);
</code></pre><p>To specify the <em>type</em> of notification to display, provide the optional <em>type</em> param. (For available types, check the <a href="#definitions">definitions</a> below.)</p>
<pre><code>ngNotify.set(&apos;Your error message goes here!&apos;, &apos;error&apos;);
</code></pre><h1 id="Advanced-Usage"><a href="#Advanced-Usage" class="headerlink" title="Advanced Usage"></a>Advanced Usage</h1><p>###Default Configuration</p>
<p>You can override the default options for all notifications by using the <code>config</code> method.  None of these options are required. (For available options, check the <a href="#definitions">definitions</a> below.)</p>
<pre><code>ngNotify.config({
    theme: &apos;pure&apos;,
    position: &apos;bottom&apos;,
    duration: 3000,
    type: &apos;info&apos;,
    sticky: false
});
</code></pre><p>###Individual Configurations</p>
<p>You can also pass an object of options to individual notifications.  You can pass through any combination of our available options here as well.  (For available options, check the <a href="#definitions">definitions</a> below.)  For example:</p>
<pre><code>ngNotify.set(&apos;Your first message.&apos;, {
    position: &apos;top&apos;,
    sticky: true
});

ngNotify.set(&apos;Your second message.&apos;, {
    type: &apos;error&apos;,
    duration: 2000
});

ngNotify.set(&apos;Your third message.&apos;, &apos;error&apos;); // Original use case still works, too.

ngNotify.set(&apos;Your fourth message.&apos;, {
    theme: &apos;pitchy&apos;
});
</code></pre><p>###Sticky Notifications</p>
<p>Sticky notifications allow you to set a perisistant notification that doesn’t fade away.  To do this, simply set the <code>sticky</code> attribute to true:</p>
<pre><code>ngNotify.set(&apos;This is sticky.&apos;, {
    sticky: true
});
</code></pre><p>This will give the user the option of closing the notification themselves.  If you need to dismiss a notification manually, you can do so with the <code>dismiss</code> method like this:</p>
<pre><code>ngNotify.dismiss();
</code></pre><p><em>Any time a notification is set to sticky, the duration attribute will be ignored since the notification will not be automatically fading out.</em></p>
<p>###Roll Your Own</p>
<p>There are two additional methods that allow you to create your own types and themes.</p>
<p>#####Custom Notification Types</p>
<p>Creating a custom type will allow you to add additional types of notifications to use throughout your application.  To create a new type, use the <code>addType</code> method.  The first param is the <em>name</em> you’ll use to reference your new type.  The second param is the <em>class</em> you’ll use to style your new notification type.</p>
<pre><code>ngNotify.addType(&apos;notice&apos;, &apos;my-notice-type&apos;);
</code></pre><p>Then you can set any of your notifications up to use that type as you would any other, triggering it by using the name you gave it.</p>
<pre><code>ngNotify.set(&apos;This notification is using our new type!&apos;, &apos;notice&apos;);
</code></pre><p>To style your new type, pick a color you’d like to use and set it to the background color of your new style.</p>
<pre><code>.my-notice-type
    background-color: #ABC123
</code></pre><p>#####Custom Themes</p>
<p>Creating a custom theme will allow you to build an entirely new spectrum of notification messages utilizing the existing notification types.  To create a new theme, use the <code>addTheme</code> method.  The first param is the <em>name</em> you’ll use to reference your new theme.  The second param is the <em>class</em> you’ll use to style your new theme’s notification types.</p>
<pre><code>ngNotify.addTheme(&apos;newTheme&apos;, &apos;my-new-theme&apos;);
</code></pre><p>Now you can activate your new theme via the config method, using the name you previously assigned to it.</p>
<pre><code>ngNotify.config({
    theme: &apos;newTheme&apos;
});
</code></pre><p>To style your new theme, pick a collection of colors you’d like to use for each notification type and set them to each type’s background color.</p>
<pre><code>.my-new-theme.ngn-info
    background-color: #0033CC

.my-new-theme.ngn-error
    background-color: #FF0000

.my-new-theme.ngn-success
    background-color: #00CC00

.my-new-theme.ngn-warn
    background-color: #FF9900

.my-new-theme.ngn-grimace
    background-color: #660099
</code></pre><p>#####Custom Styles</p>
<p>The position, size, color, alignment and more are all styled based on the notification’s classes and are all specified in the CSS file. See the <a href="#styles">style definitions</a> below to see which classes can be used to override any of the styles within your own application.</p>
<h1 id="Definitions"><a href="#Definitions" class="headerlink" title="Definitions"></a>Definitions</h1><p>###Methods</p>
<p>####set(message, type)<br>displays a notification message and sets the formatting/behavioral options for this one notification.</p>
<ul>
<li><strong>message</strong>: <em>string</em> - <em>required</em> - the message to display in your notification.</li>
<li><strong>type</strong>: <em>string</em> - <em>optional</em> - the type of notification to display.<ul>
<li>info <em>(default)</em></li>
<li>error</li>
<li>success</li>
<li>warn</li>
<li>grimace</li>
</ul>
</li>
</ul>
<p>####config(options)<br>sets default settings for all notifications to take into account when displaying.</p>
<ul>
<li><strong>options</strong> - <em>object</em> - an object of options that overrides the default settings.<ul>
<li><strong>theme</strong>: <em>string</em> - <em>optional</em> - sets the theme to use, altering the styles for each notification type.<ul>
<li>pure <em>(default)</em></li>
<li>prime</li>
<li>pastel</li>
<li>pitchy</li>
</ul>
</li>
<li><strong>type</strong>: <em>string</em> - <em>optional</em> - sets the default notification type when a type isn’t explicitly set.<ul>
<li>info <em>(default)</em></li>
<li>error</li>
<li>success</li>
<li>warn</li>
<li>grimace</li>
</ul>
</li>
<li><strong>position</strong>: <em>string</em> - <em>optional</em> - sets where the notifications will be displayed at in the app.<ul>
<li>bottom <em>(default)</em></li>
<li>top</li>
</ul>
</li>
<li><strong>duration</strong>: <em>integer</em> - <em>optional</em> - the duration the notification stays visible to the user, in milliseconds.</li>
<li><strong>sticky</strong>: <em>bool</em> - <em>optional</em> - determines whether or not the message will fade at the end of the duration or if the message will persist until the user dismisses it themselves.  when true, duration will not be set, even if it has a value. <em>(false by default)</em>.</li>
</ul>
</li>
</ul>
<p>####dismiss()<br>manually dismisses any sticky notifications that may still be set.</p>
<p>####addType(name, class)<br>allows a dev to create a new type of notification to use in their app.</p>
<ul>
<li><strong>name</strong>: <em>string</em> - <em>required</em> - the name used to trigger this notification type in the <em>set</em> method.</li>
<li><strong>class</strong>: <em>string</em> - <em>required</em> - the class used to target this type in the stylesheet.</li>
</ul>
<p>####addTheme(name, class)<br>allows a dev to create a whole new set of styles for each notification type.</p>
<ul>
<li><strong>name</strong>: <em>string</em> - <em>required</em> - the name used when setting the theme in the <em>config</em> object.</li>
<li><strong>class</strong>: <em>string</em> - <em>required</em> - the class used to target this theme in the stylesheet.</li>
</ul>
<p>###Styles</p>
<ul>
<li><p><strong>primary</strong>: the class that’s present on every notification and controls all of the primary styles.</p>
<ul>
<li><em>.ngn</em> </li>
</ul>
</li>
<li><p><strong>position</strong>: purely responsible for where notifications are displayed.  <em>default is set to bottom, one is present on every notification.</em></p>
<ul>
<li><em>.ngn-top</em></li>
<li><em>.ngn-bottom</em> </li>
</ul>
</li>
<li><p><strong>types</strong>: default classes for setting each notification type’s background color.  <em>default is set to info, one is present on every notification.</em></p>
<ul>
<li><em>.ngn-info</em></li>
<li><em>.ngn-error</em></li>
<li><em>.ngn-success</em></li>
<li><em>.ngn-warn</em></li>
<li><em>.ngn-grimace</em></li>
</ul>
</li>
<li><p><strong>themes</strong>: theme specific classes that are chained together with type classes to override default background colors.  <em>not always present, default excludes all of these.</em></p>
<ul>
<li><em>.ngn-prime</em></li>
<li><em>.ngn-pastel</em></li>
<li><em>.ngn-pitchy</em></li>
</ul>
</li>
<li><p><strong>sticky</strong>: styles responsible for displaying the dismissal button for sticky notifications.</p>
<ul>
<li><em>.ngn-sticky</em> - displays the dismissal button when sticky is enabled.</li>
<li><em>.ngn-dismiss</em> - styles the dismissal button.</li>
</ul>
</li>
</ul>
